.label{
  float: left;
  width: 10em;
  margin-top: 6px;
  /* border: solid black 1px; */
  
}

.detail {
  float: left;
  width: 10em;
  height: 44px;
  margin-top: 6px;
  /* border: solid black 1px; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
