* {
  box-sizing: border-box;
}

body {
  background-color: #adadad;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 20px rgb(0, 0, 0, 0.75);
}

h1:after {
  content: "";
  position: absolute;
  left: 0;
  /* display: inline-block; */
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

h1:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

input[type="text"],
input[type="mail"],
input[type="number"],
select {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
  box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.5);
  background-color: #adadad;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  /* width: auto; */
}

.submit-btn,
.clr-btn {
  background-color: #adadad;
  padding: 10px;
  border: solid #4b4b4b 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.5);
  transition: all 200ms ease;
  font-weight: bold;
  color: #2c2c2c;
  margin-left: 1em;
}
.submit-btn:hover,
.clr-btn:hover {
  background-color: #000000;
  color: white;
  border-color: black;
}

.submit-btn:disabled {
  background-color: rgb(247, 43, 43);
  color: black;
  border-color: rgb(247, 43, 43);
  /* display: none; */
}

.add-btn,
.minus-btn {
  background-color: green;
  width: 3em;
  height: 3em;
  border: solid #adadad 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.5);
  transition: all 200ms ease;
  font-weight: bold;
  color: #2c2c2c;
  margin: 9px;
  border-color: green;
}
.add-btn:hover {
  background-color: #000000;
  color: green;
  border-color: green;
}
.minus-btn:hover {
  background-color: #000000;
  color: red;
  border-color: red;
}

.add-btn:disabled,
.minus-btn:disabled {
  background-color: rgb(247, 43, 43);
  color: black;
  border-color: rgb(247, 43, 43);
}

.container {
  border-radius: 15px;
  background-color: #4b4b4b;
  padding: 20px;
  width: 35em;
  box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.5);
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1em;
  color: white;
}

.col-45 {
  float: left;
  width: 10em;
  margin-top: 6px;
}

.col-55 {
  float: left;
  width: auto;
  margin-top: 6px;
  background-color: white;
  border-radius: 5px;
}

/* Clear floats after the columns */
.row-main:after {
  content: "";
  display: table;
  clear: both;
}
